- const { attitude } = data.character;
+blob({ name: 'attitude', title: 'Attitude' })
  +block('content')
    - const [boosts, kicks] = attitude.fields;
    - const four = Array.from(Array(4).keys(), (i) => i + 1);

    +span(attitude.subtitle)

    +field(boosts)
    +field(kicks)
    .attitude__clickies
      each index in four
        - const field = { ...boosts };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        +field(field).attitude__boost

      each index in four
        - const field = { ...kicks };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        +field(field).attitude__kick
