+panel({ name: 'your_character' })
  - const { personality, fields } = character.header;
  +block('header')
    +field(personality).character__title
  +block('content')
    +editorblock('header')
      +block('edit')
        each field in fields
          div
            label(for=field.name, data-i18n=field.name)= field.label
            +field(field)
      +block('view')
        each field in fields
          - const divClass = field.span ? `col-${field.span}` : '';
          div(class=divClass)
            +span(field)
            label(data-i18n=field.name)= field.label
