- const signature = data.signature;
+panel({ name: 'signature' })
  - const [fnc, desc, look] = signature.fields;
  +block('header')
    +field(signature.signature).signature__title
  +block('content')
    //- .signature--field
    //-   +span(fnc)
    //-   label(data-i18n=fnc.name)= fnc.label
    //- .signature--field
    //-   +span(desc)
    //-   label(data-i18n=desc.name)= desc.label

    +editorblock('signature')
      +block('edit')
        each field in signature.fields
          .signature--field
            +field(field)
            label(data-i18n=field.name)= field.label
      +block('view')
        each field in signature.fields
          .signature--field
            +span(field)
            label(data-i18n=field.name)= field.label
