- const { style, trouble } = data.character;
+blob({ name: 'style-trouble' })
  +block('content')
    .style
      h2.style__title(data-i18n='style') Style
      .style__track
        each radio in style.track
          label.style__checkbox
            +field(radio).checkbox--circle
            span.visually-hidden(data-i18n=`style_${radio.value}`)
      +span(style.subtitle)

    .trouble
      .trouble__actions
        h2.trouble__title(data-i18n='trouble') Trouble
        each action in trouble.actions
          +action(action)
      .trouble__track
        each radio in trouble.track
          label.trouble__checkbox
            +field(radio).checkbox--circle
            span.visually-hidden(data-i18n=`trouble_${radio.value}`)
