- const { turbo } = data.signature;

+blob({ name: 'turbo', title: 'Turbo' })
  +block('content')
    - const [boosts, kicks] = turbo.fields;
    - const four = Array.from(Array(3).keys(), (i) => i + 1);

    span(data-i18n='turbo_description') Describe how your device helps you with an action, then boost or kick as needed.

    +field(boosts)
    +field(kicks)
    .turbo__clickies
      each foo in four
        - const field = { ...boosts };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${foo}`;
        +field(field).turbo__boost

      each foo in four
        - const field = { ...kicks };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${foo}`;
        +field(field).turbo__kick
