-
  data.global = {
    header: {
      fields: [
        { name: "sheet_mode", type: "hidden", blockName: "header" },
      ],
      actions: [
        { name: "character", label: "Character", type: "action", blockName: "header" },
        { name: "crew", label: "Crew", type: "action", blockName: "header" },
      ],
    }
  }
