-
  data.global = {
    nav: {
      fields: [
        { name: "sheet_mode", type: "hidden", blockName: "nav" },
      ],
      actions: [
        { name: "character", label: "Character", type: "action", blockName: "nav" },
        { name: "crew", label: "Crew", type: "action", blockName: "nav" },
        { name: "options", label: "Options", type: "action", blockName: "nav" },
      ],
    }
  }
