-
  data.options = {
    dropdowns: [
      {
        name: 'personality',
        label: 'Personality',
        placeholder: 'Personality',
        options: [
          { name: 'grit', text: 'The Grit' },
          { name: 'guts', text: 'The Guts' },
          { name: 'smarts', text: 'The Smarts' },
          { name: 'heart', text: 'The Heart' },
          { name: 'chill', text: 'The Chill' },
          { name: 'custom', text: 'Custom' },
        ],
        type: 'text',
        blockName: 'header',
      }
    ]
  }
