@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Condensed:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300:400:700&display=swap");
html {
  box-sizing: border-box;
  font-size: 10px;
  font-size: 69%;
}
html .characterviewer,
html .tab-content,
html .sheetform,
html .charactersheet {
  box-sizing: border-box;
  height: calc(100% - 2rem);
}

.charsheet * {
  box-sizing: border-box;
  height: unset;
  width: unset;
  padding: unset;
  margin: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  text-shadow: unset;
  box-shadow: unset;
}
.charsheet h1,
.charsheet h2,
.charsheet h3,
.charsheet h4,
.charsheet h5 {
  font-size: unset;
  line-height: unset;
  color: unset;
}
.charsheet p,
.charsheet input,
.charsheet input[type=number],
.charsheet textarea,
.charsheet select,
.charsheet button,
.charsheet button[type=roll],
.charsheet label {
  display: unset;
  width: unset;
  height: unset;
  padding: unset;
  margin-bottom: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  text-shadow: none;
  line-height: unset;
  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  box-shadow: unset;
}
.charsheet button[type=roll]:before {
  display: none;
}
.charsheet input[disabled],
.charsheet select[disabled],
.charsheet textarea[disabled],
.charsheet input[readonly],
.charsheet select[readonly],
.charsheet textarea[readonly] {
  background-color: unset;
  border-color: unset;
}

.charsheet * {
  font-size: 1em;
  box-sizing: border-box;
  font-family: inherit;
}
.charsheet fieldset {
  background: transparent;
}
.charsheet span {
  word-break: break-word;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.ui-dialog .largedialog {
  padding: 0;
}
.ui-dialog .charsheet {
  padding: 0;
}

* {
  color: var(--text-color, rgb(34, 34, 34));
  font: normal 1rem/1.4 "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
}

div#tab-content.tab-content .attributesabilities {
  min-width: 525px;
}
div#tab-content.tab-content .attributesabilities .divider {
  border: none;
}

html .characterviewer {
  display: grid !important;
  grid-template-rows: auto 1fr;
}
html .characterviewer .content {
  margin-bottom: 0;
}
html .characterviewer .charsheet {
  padding: 0;
}
html .characterviewer .nav-tabs {
  padding-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
}
html .characterviewer .nav-tabs > li {
  margin-bottom: 0;
}
html .characterviewer .nav-tabs > li.active > a {
  opacity: 1 !important;
  color: #fff;
  background: #008495;
}
html .characterviewer .nav-tabs > li > a {
  border: none !important;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-family: "Sofia Sans Condensed", "Sofia Sans", "Ubuntu", "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
html .characterviewer .nav-tabs > li > a:hover, html .characterviewer .nav-tabs > li > a:active {
  color: #fff;
}
html .characterviewer .nav-tabs > li > a:hover {
  background: #339daa;
}
html .characterviewer .nav-tabs > li > a:active {
  background: #006a77;
}
html .characterviewer .nav-tabs > li.active > a,
html .characterviewer .nav-tabs > li.active > a:hover,
html .characterviewer .nav-tabs > li.active > a:focus, html .characterviewer .nav-tabs > li:not(.active) > a,
html .characterviewer .nav-tabs > li:not(.active) > a:hover,
html .characterviewer .nav-tabs > li:not(.active) > a:focus {
  text-decoration: none;
}
html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1) {
  opacity: 0.3;
}
html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):hover, html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):focus {
  opacity: 1;
}

* {
  --foreground: #fff;
  --label-color: #292828;
  --text-color: #292828;
  --input-background: rgba(237, 237, 237, 0.5);
  --input-background-color-active: rgba(1, 172, 239, 0.1);
  --input-background-color-disabled: rgba(237, 237, 237, 0.1);
  --input-border-color: #292828;
  --input-border-color-active: #eb008b;
  --input-border-color-disabled: rgb(153, 153, 153);
  --input-color: rgb(68, 68, 68);
  --input-color-active: #292828;
  --input-color-disabled: rgb(153, 153, 153);
  --button-background: rgba(153, 153, 153, 0.8);
  --button-background-active: rgba(68, 68, 68, 0.8);
  --button-background-hover: rgba(237, 237, 237, 0.8);
  --button-color: #292828;
  --button-color-active: #01acef;
  --button-color-hover: #eb008b;
}

.ul-dialog {
  width: 576px;
}

html .charsheet .slugblaster {
  /**
   * Clear inner floats
   */
  /**
   * Main content containers
   * 1. Make the container full-width with a maximum width
   * 2. Center it in the viewport
   * 3. Leave some space on the edges, especially valuable on small screens
   */
  /**
   * Hide text while making it readable for screen readers
   * 1. Needed in WebKit-based browsers because of an implementation bug;
   *    See: https://code.google.com/p/chromium/issues/detail?id=457146
   */
  /**
   * Hide element while making it readable for screen readers
   * Shamelessly borrowed from HTML5Boilerplate:
   * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
   */
  /**
   * Basic typography style for copy text
   */
}
html .charsheet .slugblaster .row__header {
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}
html .charsheet .slugblaster input[type=number],
html .charsheet .slugblaster input[type=text],
html .charsheet .slugblaster select,
html .charsheet .slugblaster textarea {
  width: 100%;
  height: 2.5rem;
  background-color: var(--input-background);
  border-bottom: 1px dashed var(--input-border-color);
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  font-size: 1rem;
  color: var(--input-color);
  transition: background-color 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in, padding 0.2s ease-in;
  padding-inline-start: 0.25rem;
  padding-block: 1px;
}
html .charsheet .slugblaster input[type=number]:active, html .charsheet .slugblaster input[type=number]:hover, html .charsheet .slugblaster input[type=number]:focus,
html .charsheet .slugblaster input[type=text]:active,
html .charsheet .slugblaster input[type=text]:hover,
html .charsheet .slugblaster input[type=text]:focus,
html .charsheet .slugblaster select:active,
html .charsheet .slugblaster select:hover,
html .charsheet .slugblaster select:focus,
html .charsheet .slugblaster textarea:active,
html .charsheet .slugblaster textarea:hover,
html .charsheet .slugblaster textarea:focus {
  outline: 0;
  background-color: var(--input-background-color-active);
  color: var(--input-color-active);
  border-bottom: 2px solid var(--input-border-color-active);
  padding-inline-start: 0.5rem;
}
html .charsheet .slugblaster input[type=number]::placeholder,
html .charsheet .slugblaster input[type=text]::placeholder,
html .charsheet .slugblaster select::placeholder,
html .charsheet .slugblaster textarea::placeholder {
  color: rgb(153, 153, 153);
}
html .charsheet .slugblaster select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://www.svgrepo.com/show/361418/chevron-down.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
html .charsheet .slugblaster select option {
  background: var(--input-background);
  background-color: #ef4b31;
  color: var(--input-color);
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  font-size: 1rem;
}
html .charsheet .slugblaster input[type=number] {
  text-align: center;
}
html .charsheet .slugblaster input[type=number][disabled], html .charsheet .slugblaster input[type=number][readonly] {
  cursor: default;
  background: var(--input-background-color-disabled);
  color: var(--input-color-disabled);
  border: 2px solid var(--input-border-color-disabled);
}
html .charsheet .slugblaster textarea {
  min-height: 5rem;
  max-height: 10rem;
  resize: vertical;
  scrollbar-width: thin;
  scrollbar-color: var(--input-color-active) transparent;
}
@supports selector(::-webkit-scrollbar) {
  html .charsheet .slugblaster textarea::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
  }
  html .charsheet .slugblaster textarea::-webkit-scrollbar-track {
    background: var(--input-color-active);
  }
}
html .charsheet .slugblaster span[name] {
  white-space: pre-wrap;
}
html .charsheet .slugblaster .clearfix::after {
  clear: both;
  content: "";
  display: table;
}
html .charsheet .slugblaster .container {
  max-width: 1180px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}
html .charsheet .slugblaster .hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}
html .charsheet .slugblaster .visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html .charsheet .slugblaster .repcontainer {
  display: grid;
}
html .charsheet .slugblaster .repitem {
  margin-bottom: 0.5rem;
}
html .charsheet .slugblaster label {
  display: block;
  color: var(--label-color);
  font-family: "Poppins", "Sofia Sans", "Ubuntu", "Nunito", sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.05rem;
  font-weight: 700;
}
html .charsheet .slugblaster label span {
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
html .charsheet .slugblaster .pictos {
  font-family: Pictos;
}
html .charsheet .slugblaster .translation {
  display: none;
}
html .charsheet .slugblaster .blade {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  min-width: 3rem;
}
html .charsheet .slugblaster .blade__wrapper {
  display: grid;
  row-gap: 0.5rem;
  overflow: hidden;
}
html .charsheet .slugblaster .blade__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  font-weight: 700;
}
html .charsheet .slugblaster .blade__title::before {
  content: "_";
  font-family: Pictos;
  margin-inline-end: 0.5rem;
  font-weight: normal;
}
html .charsheet .slugblaster .blade-toggle {
  position: relative;
  padding: 0.5rem;
  text-align: left;
}
html .charsheet .slugblaster .blade-toggle[type=action] {
  background-color: transparent;
  border-radius: 0;
  padding: 0.25rem;
}
html .charsheet .slugblaster .blade-toggle__controller[value=on] ~ .blade__wrapper {
  display: none;
}
html .charsheet .slugblaster .blade-toggle__controller[value=on] ~ button.blade-toggle {
  height: 100%;
}
html .charsheet .slugblaster .blade-toggle__controller[value=on] ~ button.blade-toggle > .blade__title {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: left top;
  white-space: nowrap;
}
html .charsheet .slugblaster .blade-toggle__controller[value=on] ~ button.blade-toggle > .blade__title::before {
  content: "&";
}
html .charsheet .slugblaster .blob {
  position: relative;
}
html .charsheet .slugblaster .blob__wrapper {
  display: grid;
  row-gap: 0.5rem;
  overflow: hidden;
}
html .charsheet .slugblaster .blob__header, html .charsheet .slugblaster .blob__content {
  padding: 0.25rem;
}
html .charsheet .slugblaster .blob__header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
}
html .charsheet .slugblaster .blob--editor {
  grid-template-columns: 1fr auto;
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster button[type=action],
html .charsheet .slugblaster button[type=roll] {
  background: var(--button-background);
  color: var(--button-color);
  border-radius: 0.5rem;
}
html .charsheet .slugblaster button[type=action]:hover,
html .charsheet .slugblaster button[type=roll]:hover {
  background: var(--button-background-hover);
  color: var(--button-color-hover);
}
html .charsheet .slugblaster button[type=action]:active,
html .charsheet .slugblaster button[type=roll]:active {
  background: var(--button-background-active);
  color: var(--button-color-active);
}
html .charsheet .slugblaster .numcontroller {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
html .charsheet .slugblaster .numcontroller__span[name] {
  font-size: 2.5rem;
  white-space: nowrap;
}
html .charsheet .slugblaster .numcontroller__increase, html .charsheet .slugblaster .numcontroller__decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 2rem;
  aspect-ratio: 1;
  font-size: 1rem;
}
@media (max-width: 576px) {
  html .charsheet .slugblaster .numcontroller .numcontroller__span {
    font-size: 1.5rem;
  }
  html .charsheet .slugblaster .numcontroller .numcontroller__increase, html .charsheet .slugblaster .numcontroller .numcontroller__decrease {
    width: 1.5rem;
  }
}
html .charsheet .slugblaster .action__group {
  display: flex;
}
html .charsheet .slugblaster .action__group button:first-of-type {
  border-radius: 1rem 0 0 1rem;
}
html .charsheet .slugblaster .action__group button:last-of-type {
  border-radius: 0 1rem 1rem 0;
}
html .charsheet .slugblaster .action-pill {
  border-radius: 1rem;
}
html .charsheet .slugblaster .editor {
  height: 100%;
  position: relative;
}
html .charsheet .slugblaster .editor__controller[value="0"] ~ * .editor__view {
  display: grid;
}
html .charsheet .slugblaster .editor__controller[value=on] ~ * .editor__edit {
  display: grid;
}
html .charsheet .slugblaster .editor__wrapper {
  height: 100%;
  position: relative;
}
html .charsheet .slugblaster .editor__view, html .charsheet .slugblaster .editor__edit {
  display: none;
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
html .charsheet .slugblaster .editor__edit {
  grid-template-rows: 1fr auto;
  column-gap: 1rem;
}
html .charsheet .slugblaster .editor__view label {
  border-top: 1px dashed #292828;
}
html .charsheet .slugblaster .editor__icon {
  margin-inline: 0.5rem;
}
html .charsheet .slugblaster .editor__toggle {
  transition: 0.1s linear;
}
html .charsheet .slugblaster .editor__toggle:hover {
  transform: translateY(-0.2rem);
  text-shadow: 0 0.4rem 0.2rem rgba(239, 75, 49, 0.2);
}
html .charsheet .slugblaster .editor__toggle:active {
  transform: translateY(0.4rem);
}
html .charsheet .slugblaster .editor__close {
  --close-size: 4rem;
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  width: var(--close-size);
  aspect-ratio: 1;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}
html .charsheet .slugblaster .editor__close:hover::before {
  transform: scale(1);
}
html .charsheet .slugblaster .editor__close:hover::after {
  color: #fff;
}
html .charsheet .slugblaster .editor__close:active {
  transform: translateY(0.4rem);
}
html .charsheet .slugblaster .editor__close::before {
  content: "";
  position: absolute;
  inset: 0;
  width: var(--close-size);
  aspect-ratio: 1;
  background-color: #ef4b31;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
html .charsheet .slugblaster .editor__close::after {
  content: "*";
  font-family: Pictos;
  margin: auto;
  color: #ef4b31;
}
html .charsheet .slugblaster .minimizer {
  height: 100%;
  position: relative;
}
html .charsheet .slugblaster .minimizer__controller[value=on] ~ * .panel__content,
html .charsheet .slugblaster .minimizer__controller[value=on] ~ * .blob__content {
  height: 0;
  margin-top: -100rem;
}
html .charsheet .slugblaster .edit-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
  z-index: 100;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}
html .charsheet .slugblaster .edit-toggle__controller[value="0"] ~ .edit-toggle__view {
  display: block;
}
html .charsheet .slugblaster .edit-toggle__controller[value=on] ~ .edit-toggle__edit {
  display: block;
}
html .charsheet .slugblaster .edit-toggle__view, html .charsheet .slugblaster .edit-toggle__edit {
  display: none;
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
html .charsheet .slugblaster .edit-toggle__view .pictos, html .charsheet .slugblaster .edit-toggle__edit .pictos {
  font-size: 1.5rem;
}
html .charsheet .slugblaster .minimizer-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  z-index: 100;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}
html .charsheet .slugblaster .minimizer-toggle__controller[value="0"] ~ .minimizer-toggle__view {
  display: block;
}
html .charsheet .slugblaster .minimizer-toggle__controller[value=on] ~ .minimizer-toggle__edit {
  display: block;
}
html .charsheet .slugblaster .minimizer-toggle__view, html .charsheet .slugblaster .minimizer-toggle__edit {
  display: none;
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
html .charsheet .slugblaster .minimizer-toggle__view .pictos, html .charsheet .slugblaster .minimizer-toggle__edit .pictos {
  font-size: 1.5rem;
}
html .charsheet .slugblaster .panel {
  position: relative;
}
html .charsheet .slugblaster .panel__wrapper {
  display: grid;
  row-gap: 0.5rem;
  overflow: hidden;
}
html .charsheet .slugblaster .panel__header, html .charsheet .slugblaster .panel__content {
  padding: 0.25rem;
}
html .charsheet .slugblaster .panel__header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-right: 3.5rem;
  padding-right: 5rem;
}
html .charsheet .slugblaster .panel__title, html .charsheet .slugblaster .blob__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  font-weight: 700;
}
html .charsheet .slugblaster .repeating__is-empty[value="0"] ~ .repeating__empty {
  display: grid;
}
html .charsheet .slugblaster .repeating__controller[value="0"] ~ * .repeating__view {
  display: grid;
}
html .charsheet .slugblaster .repeating__controller[value=on] ~ * .repeating__edit {
  display: grid;
}
html .charsheet .slugblaster .repeating__empty {
  display: none;
  background-color: hsla(196deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .repeating__header {
  padding: 0.5rem;
}
html .charsheet .slugblaster .repeating__header span {
  display: block;
  text-align: center;
}
html .charsheet .slugblaster .repeating__view, html .charsheet .slugblaster .repeating__edit {
  display: none;
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
html .charsheet .slugblaster .repeating__edit {
  position: relative;
  padding: 0.5rem;
  background-color: hsla(319deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: minmax(2rem, auto);
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(2rem, auto);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character__col {
  flex: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
html .charsheet .slugblaster .character__blades {
  display: flex;
  gap: 0.5rem;
}
html .charsheet .slugblaster .character .attitude {
  color: #fff;
  background-color: #008495;
}
html .charsheet .slugblaster .character .attitude__clickies {
  display: flex;
  gap: 0 0.5rem;
  margin-top: 1rem;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="1"] ~ * .attitude__boost--1 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="2"] ~ * .attitude__boost--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="2"] ~ * .attitude__boost--2 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="3"] ~ * .attitude__boost--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="3"] ~ * .attitude__boost--2,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="3"] ~ * .attitude__boost--3 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="4"] ~ * .attitude__boost--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="4"] ~ * .attitude__boost--2,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="4"] ~ * .attitude__boost--3,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_boost][value="4"] ~ * .attitude__boost--4 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="1"] ~ * .attitude__kick--1 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="2"] ~ * .attitude__kick--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="2"] ~ * .attitude__kick--2 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="3"] ~ * .attitude__kick--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="3"] ~ * .attitude__kick--2,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="3"] ~ * .attitude__kick--3 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="4"] ~ * .attitude__kick--1,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="4"] ~ * .attitude__kick--2,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="4"] ~ * .attitude__kick--3,
html .charsheet .slugblaster .character .attitude input[name=attr_attitude_kick][value="4"] ~ * .attitude__kick--4 {
  display: grid;
}
html .charsheet .slugblaster .character .attitude__boost, html .charsheet .slugblaster .character .attitude__kick {
  display: none;
  width: 3rem;
  aspect-ratio: 1;
}
html .charsheet .slugblaster .character .attitude__boost input, html .charsheet .slugblaster .character .attitude__kick input {
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
html .charsheet .slugblaster .character .attitude__boost input:checked, html .charsheet .slugblaster .character .attitude__kick input:checked {
  opacity: 0.5;
}
html .charsheet .slugblaster .character .attitude__boost input:focus, html .charsheet .slugblaster .character .attitude__kick input:focus {
  outline: 0;
}
html .charsheet .slugblaster .character .attitude__boost input {
  background-image: url("https://raw.githubusercontent.com/morgdalaine/slugblaster/main/assets/boost.svg");
  background-image: url("https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-six-faces-five.svg");
}
html .charsheet .slugblaster .character .attitude__kick input {
  background-image: url("https://raw.githubusercontent.com/morgdalaine/slugblaster/main/assets/kick.svg");
  background-image: url("https://game-icons.net/icons/ffffff/000000/1x1/sbed/electric.svg");
}
html .charsheet .slugblaster .character .components {
  background-color: hsla(154deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .components__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .components__component--header {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
html .charsheet .slugblaster .character .components__component--track {
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  justify-content: center;
}
html .charsheet .slugblaster .character .doom {
  background-color: hsla(180deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .doom__edit, html .charsheet .slugblaster .character .doom__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .doom .doom__name {
  display: block;
  border-bottom: 1px dashed var(--input-border-color);
}
html .charsheet .slugblaster .character .downtime {
  background-color: hsla(296deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .downtime + .panel {
  margin-top: 0.5rem;
}
html .charsheet .slugblaster .character .downtime__edit, html .charsheet .slugblaster .character .downtime__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .downtime__view {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .downtime__check {
  display: flex;
  align-items: center;
}
html .charsheet .slugblaster .character .downtime__check span {
  margin-inline-start: 0.25rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
html .charsheet .slugblaster .character .downtime .downtime__name {
  font-weight: 700;
}
html .charsheet .slugblaster .character .downtime__cost::before {
  content: "(";
}
html .charsheet .slugblaster .character .downtime__cost::after {
  content: ")";
}
html .charsheet .slugblaster .character .gear {
  background-color: hsla(53deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .gear__edit, html .charsheet .slugblaster .character .gear__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .gear__check {
  display: flex;
  align-items: center;
}
html .charsheet .slugblaster .character .gear__check span {
  margin-inline-start: 0.25rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
html .charsheet .slugblaster .character .header {
  background-color: hsla(352deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .header__title[type=text] {
  font-size: 2rem;
  font-family: "Rubik Dirt", "Comic Sans MS", serif;
  text-transform: uppercase;
  height: auto;
}
html .charsheet .slugblaster .character .header__edit, html .charsheet .slugblaster .character .header__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .legacy {
  background-color: hsla(289deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .legacy__edit, html .charsheet .slugblaster .character .legacy__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .legacy .legacy__name {
  display: block;
  border-bottom: 1px dashed var(--input-border-color);
}
html .charsheet .slugblaster .character .mods {
  background-color: hsla(186deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .mods__edit, html .charsheet .slugblaster .character .mods__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .mods__edit .mods__turbo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  justify-content: space-between;
}
html .charsheet .slugblaster .character .mods__check {
  display: flex;
  align-items: center;
}
html .charsheet .slugblaster .character .mods__check span {
  margin-inline-start: 0.25rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
html .charsheet .slugblaster .character .mods .mod__name {
  font-weight: 700;
}
html .charsheet .slugblaster .character .signature {
  background-color: hsla(14deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .signature__title[type=text] {
  font-size: 2rem;
  font-family: "Rubik Dirt", "Comic Sans MS", serif;
  text-transform: uppercase;
  height: auto;
}
html .charsheet .slugblaster .character .signature__edit, html .charsheet .slugblaster .character .signature__view {
  row-gap: 0.5rem;
}
html .charsheet .slugblaster .character .slams {
  background-color: hsla(358deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .slams__boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .slams__box--slam_1 {
  grid-column: 1/-1;
}
html .charsheet .slugblaster .character .slams__input--text[type=text] {
  text-align: center;
  border: 2px solid var(--input-border-color);
}
html .charsheet .slugblaster .character .slams__input--text[type=text]:active, html .charsheet .slugblaster .character .slams__input--text[type=text]:hover, html .charsheet .slugblaster .character .slams__input--text[type=text]:focus {
  border: 2px solid var(--input-border-color-active);
}
html .charsheet .slugblaster .character .style {
  background-color: hsla(40deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .style .style__hidden[value="0"] ~ * .style__checkbox--0, html .charsheet .slugblaster .character .style .style__hidden:not([value]) ~ * .style__checkbox--0 {
  display: none;
}
html .charsheet .slugblaster .character .style__track {
  display: flex;
  gap: 0.5rem 0.5rem;
  margin: 0.5rem;
}
html .charsheet .slugblaster .character .style__checkbox {
  font-size: 1rem;
}
html .charsheet .slugblaster .character .style__checkbox--0 {
  order: 1;
  padding-left: 0.5rem;
  border-left: 2px solid var(--text-color, rgb(34, 34, 34));
}
html .charsheet .slugblaster .character .traits {
  background-color: hsla(345deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .traits__edit, html .charsheet .slugblaster .character .traits__view {
  gap: 0.5rem 0.5rem;
}
html .charsheet .slugblaster .character .traits__check {
  display: flex;
  align-items: center;
}
html .charsheet .slugblaster .character .traits__check span {
  margin-inline-start: 0.25rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
html .charsheet .slugblaster .character .traits .trait__name {
  font-weight: 700;
}
html .charsheet .slugblaster .character .trouble {
  background-color: hsla(251deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .character .trouble .trouble__hidden[value="0"] ~ * .trouble__checkbox--0, html .charsheet .slugblaster .character .trouble .trouble__hidden:not([value]) ~ * .trouble__checkbox--0 {
  display: none;
}
html .charsheet .slugblaster .character .trouble__track {
  display: flex;
  gap: 0.5rem 0.5rem;
  margin: 0.5rem;
}
html .charsheet .slugblaster .character .trouble__checkbox {
  font-size: 1rem;
  display: grid;
}
html .charsheet .slugblaster .character .trouble__checkbox--0 {
  order: 1;
  padding-left: 0.5rem;
  border-left: 2px solid var(--text-color, rgb(34, 34, 34));
}
html .charsheet .slugblaster .character .trouble__checkbox--4 {
  margin-right: 1rem;
}
html .charsheet .slugblaster .character .trouble__actions {
  display: flex;
  gap: 0 0.5rem;
}
html .charsheet .slugblaster .character .trouble__action[type=action] {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-inline: 0.25rem;
}
html .charsheet .slugblaster .character .turbo {
  color: #fff;
  background-color: #008495;
}
html .charsheet .slugblaster .character .turbo__clickies {
  display: flex;
  gap: 0 0.5rem;
  margin-top: 1rem;
}
html .charsheet .slugblaster .character .turbo input[name=attr_turbo_boost][value=on] ~ * .turbo__boost--3 {
  display: grid;
}
html .charsheet .slugblaster .character .turbo input[name=attr_turbo_kick][value=on] ~ * .turbo__kick--3 {
  display: grid;
}
html .charsheet .slugblaster .character .turbo__boost, html .charsheet .slugblaster .character .turbo__kick {
  display: grid;
  width: 3rem;
  aspect-ratio: 1;
}
html .charsheet .slugblaster .character .turbo__boost--3, html .charsheet .slugblaster .character .turbo__kick--3 {
  display: none;
}
html .charsheet .slugblaster .character .turbo__boost input, html .charsheet .slugblaster .character .turbo__kick input {
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
html .charsheet .slugblaster .character .turbo__boost input:checked, html .charsheet .slugblaster .character .turbo__kick input:checked {
  opacity: 0.5;
}
html .charsheet .slugblaster .character .turbo__boost input:focus, html .charsheet .slugblaster .character .turbo__kick input:focus {
  outline: 0;
}
html .charsheet .slugblaster .character .turbo__boost input {
  background-image: url("https://raw.githubusercontent.com/morgdalaine/slugblaster/main/assets/boost.svg");
  background-image: url("https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-six-faces-five.svg");
}
html .charsheet .slugblaster .character .turbo__kick input {
  background-image: url("https://raw.githubusercontent.com/morgdalaine/slugblaster/main/assets/kick.svg");
  background-image: url("https://game-icons.net/icons/ffffff/000000/1x1/sbed/electric.svg");
}
html .charsheet .slugblaster .container {
  background: transparent;
}
html .charsheet .slugblaster .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem 0.5rem;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin: auto;
}
html .charsheet .slugblaster .row:before, html .charsheet .slugblaster .row:after {
  display: none;
}
html .charsheet .slugblaster .row > * {
  width: 100%;
  grid-column: 1/-1;
}
html .charsheet .slugblaster .col {
  grid-column: 1/-1;
}
html .charsheet .slugblaster .col-1 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 1;
}
html .charsheet .slugblaster .col-2 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 2;
}
html .charsheet .slugblaster .col-3 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 3;
}
html .charsheet .slugblaster .col-4 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 4;
}
html .charsheet .slugblaster .col-5 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 5;
}
html .charsheet .slugblaster .col-6 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 6;
}
html .charsheet .slugblaster .col-7 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 7;
}
html .charsheet .slugblaster .col-8 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 8;
}
html .charsheet .slugblaster .col-9 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 9;
}
html .charsheet .slugblaster .col-10 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 10;
}
html .charsheet .slugblaster .col-11 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 11;
}
html .charsheet .slugblaster .col-12 {
  position: initial;
  grid-column-start: auto;
  grid-column-end: span 12;
}
@media (min-width: 375px) {
  html .charsheet .slugblaster .col-xs-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-xs-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-xs-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-xs-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-xs-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-xs-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-xs-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-xs-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-xs-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-xs-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-xs-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-xs-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-xs {
    display: none;
  }
}
@media (max-width: 375px) {
  html .charsheet .slugblaster .hide-xs {
    display: none;
  }
}
html .charsheet .slugblaster .only-xs {
  display: none;
}
@media (width: 375px) {
  html .charsheet .slugblaster .only-xs {
    display: block;
  }
}
@media (min-width: 576px) {
  html .charsheet .slugblaster .col-sm-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-sm-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-sm-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-sm-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-sm-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-sm-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-sm-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-sm-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-sm-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-sm-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-sm-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-sm-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-sm {
    display: none;
  }
}
@media (max-width: 576px) {
  html .charsheet .slugblaster .hide-sm {
    display: none;
  }
}
html .charsheet .slugblaster .only-sm {
  display: none;
}
@media (width: 576px) {
  html .charsheet .slugblaster .only-sm {
    display: block;
  }
}
@media (min-width: 768px) {
  html .charsheet .slugblaster .col-md-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-md-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-md-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-md-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-md-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-md-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-md-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-md-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-md-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-md-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-md-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-md-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-md {
    display: none;
  }
}
@media (max-width: 768px) {
  html .charsheet .slugblaster .hide-md {
    display: none;
  }
}
html .charsheet .slugblaster .only-md {
  display: none;
}
@media (width: 768px) {
  html .charsheet .slugblaster .only-md {
    display: block;
  }
}
@media (min-width: 992px) {
  html .charsheet .slugblaster .col-lg-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-lg-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-lg-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-lg-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-lg-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-lg-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-lg-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-lg-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-lg-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-lg-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-lg-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-lg-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-lg {
    display: none;
  }
}
@media (max-width: 992px) {
  html .charsheet .slugblaster .hide-lg {
    display: none;
  }
}
html .charsheet .slugblaster .only-lg {
  display: none;
}
@media (width: 992px) {
  html .charsheet .slugblaster .only-lg {
    display: block;
  }
}
@media (min-width: 1200px) {
  html .charsheet .slugblaster .col-xl-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-xl-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-xl-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-xl-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-xl-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-xl-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-xl-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-xl-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-xl-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-xl-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-xl-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-xl-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-xl {
    display: none;
  }
}
@media (max-width: 1200px) {
  html .charsheet .slugblaster .hide-xl {
    display: none;
  }
}
html .charsheet .slugblaster .only-xl {
  display: none;
}
@media (width: 1200px) {
  html .charsheet .slugblaster .only-xl {
    display: block;
  }
}
@media (min-width: 1400px) {
  html .charsheet .slugblaster .col-xxl-1 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 1;
  }
  html .charsheet .slugblaster .col-xxl-2 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 2;
  }
  html .charsheet .slugblaster .col-xxl-3 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 3;
  }
  html .charsheet .slugblaster .col-xxl-4 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 4;
  }
  html .charsheet .slugblaster .col-xxl-5 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 5;
  }
  html .charsheet .slugblaster .col-xxl-6 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 6;
  }
  html .charsheet .slugblaster .col-xxl-7 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 7;
  }
  html .charsheet .slugblaster .col-xxl-8 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 8;
  }
  html .charsheet .slugblaster .col-xxl-9 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 9;
  }
  html .charsheet .slugblaster .col-xxl-10 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 10;
  }
  html .charsheet .slugblaster .col-xxl-11 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 11;
  }
  html .charsheet .slugblaster .col-xxl-12 {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span 12;
  }
  html .charsheet .slugblaster .show-xxl {
    display: none;
  }
}
@media (max-width: 1400px) {
  html .charsheet .slugblaster .hide-xxl {
    display: none;
  }
}
html .charsheet .slugblaster .only-xxl {
  display: none;
}
@media (width: 1400px) {
  html .charsheet .slugblaster .only-xxl {
    display: block;
  }
}
html .charsheet .slugblaster .rowspan-2 {
  height: 100%;
  grid-row: span 2;
}
html .charsheet .slugblaster .colspan-2 {
  height: 100%;
  grid-column: span 2;
}
html .charsheet .slugblaster .rowspan-3 {
  height: 100%;
  grid-row: span 3;
}
html .charsheet .slugblaster .colspan-3 {
  height: 100%;
  grid-column: span 3;
}
html .charsheet .slugblaster .rowspan-4 {
  height: 100%;
  grid-row: span 4;
}
html .charsheet .slugblaster .colspan-4 {
  height: 100%;
  grid-column: span 4;
}
html .charsheet .slugblaster .rowspan-5 {
  height: 100%;
  grid-row: span 5;
}
html .charsheet .slugblaster .colspan-5 {
  height: 100%;
  grid-column: span 5;
}
html .charsheet .slugblaster .rowspan-6 {
  height: 100%;
  grid-row: span 6;
}
html .charsheet .slugblaster .colspan-6 {
  height: 100%;
  grid-column: span 6;
}
html .charsheet .slugblaster .rowspan-7 {
  height: 100%;
  grid-row: span 7;
}
html .charsheet .slugblaster .colspan-7 {
  height: 100%;
  grid-column: span 7;
}
html .charsheet .slugblaster .rowspan-8 {
  height: 100%;
  grid-row: span 8;
}
html .charsheet .slugblaster .colspan-8 {
  height: 100%;
  grid-column: span 8;
}
html .charsheet .slugblaster .rowspan-9 {
  height: 100%;
  grid-row: span 9;
}
html .charsheet .slugblaster .colspan-9 {
  height: 100%;
  grid-column: span 9;
}
html .charsheet .slugblaster .rowspan-10 {
  height: 100%;
  grid-row: span 10;
}
html .charsheet .slugblaster .colspan-10 {
  height: 100%;
  grid-column: span 10;
}
html .charsheet .slugblaster .rowspan-11 {
  height: 100%;
  grid-row: span 11;
}
html .charsheet .slugblaster .colspan-11 {
  height: 100%;
  grid-column: span 11;
}
html .charsheet .slugblaster .rowspan-12 {
  height: 100%;
  grid-row: span 12;
}
html .charsheet .slugblaster .colspan-12 {
  height: 100%;
  grid-column: span 12;
}
html .charsheet .slugblaster .tophat {
  background-color: hsla(256deg, 80%, 80%, 0.8);
}
html .charsheet .slugblaster .tophat__content {
  display: flex;
  gap: 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}
html .charsheet .slugblaster .tophat__title {
  font-size: 3rem;
  font-family: "Rubik Dirt", "Comic Sans MS", serif;
  text-transform: uppercase;
}
html .charsheet .slugblaster .nav {
  display: flex;
  gap: 0.5rem 0.5rem;
  align-items: center;
}
html .charsheet .slugblaster .nav__action {
  min-height: 3rem;
  padding-inline: 0.5rem;
  font-family: "Poppins", "Sofia Sans", "Ubuntu", sans-serif;
  text-transform: uppercase;
}
html .charsheet .slugblaster .footer {
  background-color: hsla(320deg, 80%, 80%, 0.8);
  padding: 0.5rem;
}
html .charsheet .slugblaster .footer > span {
  opacity: 0.5;
}
html .charsheet .slugblaster .footer > span::before {
  content: "v";
}
html .charsheet .slugblaster__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  margin: 0.25rem;
}
