- const { fractures } = data.character;
+blob({ name: 'fractures', title: 'Fractures', broadcast: fractures.broadcast })
  +block('content')
    - const { fields } = fractures;
    - const [one, two, three] = fractures.fields;

    .fractures__boxes
      each field, index in fields
        .fractures__box(class=`fractures__box--${field.name}`)
          +field(field)
          label.visually-hidden(for=field.name, data-i18n=field.name)= field.label
