.blob {
  $this: '.blob';
  position: relative;

  &__wrapper {
    display: grid;
    row-gap: $p-sm;
  }

  &__header,
  &__content {
    padding: $p-sm;
  }

  &__header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: $grid-gutter;
    align-items: center;
    justify-content: space-between;

    padding-right: 5rem;
  }

  &__title {
    @extend .panel__title;
  }
  &--editor {
    grid-template-columns: 1fr auto;
    // grid-template-areas: 'content editor';
    gap: $grid-gutter;
  }
}
