.blob {
  $this: '.blob';
  position: relative;
  // padding: $p-lg;

  &__wrapper {
    display: grid;
  }
  &__title {
    @extend .panel__title;
  }
  &--editor {
    grid-template-columns: 1fr auto;
    // grid-template-areas: 'content editor';
    gap: $grid-gutter;
  }
}
