.panel {
  $this: '.panel';
  position: relative;

  &__wrapper {
    display: grid;
    row-gap: $grid-gutter-row;
    overflow: hidden;
  }

  &__header,
  &__content {
    padding: $p-sm;
    background-color: rgb(0, 0, 0, 0.1);
    background: linear-gradient(to right, hsl(random(360) 80% 80% / 80%), transparent);
  }

  &__header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: $grid-gutter;
    align-items: center;
    justify-content: space-between;

    padding-right: $input-component-size + 1;
    padding-right: 5rem;

    // box-shadow: 0 4px 2px -2px black;
  }

  &__title {
    font-size: $font-h2;
    // font-variant: small-caps;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 700;
  }
}
