.panel {
  $this: '.panel';
  position: relative;

  &__wrapper {
    display: grid;
    row-gap: $grid-gutter-row;
    overflow: hidden;
  }

  &__header,
  &__content {
    padding: $p-sm;
  }

  &__header {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    gap: $grid-gutter;
    align-items: center;
    justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: none;
  }

  &__title {
    font-size: $font-h2;
    line-height: $font-h2;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: normal;
  }
}
