-
  data.translation.signatures = {
    general: {
      // mods
      kitbashed: 'Kitbashed',
      kitbashed_cost: '',
      kitbashed_description: 'Buy a mod from another device.',
      power_cell: 'Power Cell',
      power_cell_cost: '2 gems',
      power_cell_description: 'Turbo gains 1 kick.',
      stabilizer: 'Stabilizer',
      stabilizer_cost: '1 coil, 1 disc',
      stabilizer_description: 'Turbo gains 1 boost.',
    },
    negafriction_sword: {
      // function
      negafriction_sword_function: 'Roll to slice, dice, chop, and stab things (or nonlethally smack them with the kinetically-charged sheath).',
      // look
      // description
      negafriction_sword_description:
        'Negafriction is just what it sounds like: complete nonsense. Normally, friction converts kinetic energy into heat, causing objects to slow down and get warmer. But negafriction swords speed up and get cooler. Just like you!',
      // mods
      slip_rattle: 'Slip Rattle',
      slip_rattle_cost: '1 coil, 1 disc',
      slip_rattle_description:
        'Roll to teleport inuniverse by slicing spacetime. If you can’t see your destination, potential problems are worse.',
      field_projector: 'Field Projector',
      field_projector_cost: '1 lens, 1 coil',
      field_projector_description:
        'Roll to temporarily remove the surface friction from a room-sized area near you.',
      ref_coating: 'Ref Coating',
      ref_coating_cost: '1 lens, 1 gem',
      ref_coating_description:
        'Avoid slams from lasers and other electromagnetic energy by marking 1 turbo, redirecting the attack wherever you wish.',
      negafriction_wake: 'Negafriction Wake',
      negafriction_wake_cost: '1 disc, 1 gem',
      negafriction_wake_description:
        'Roll to boost your speed as your sword accelerates through matter (even air) and pulls you along.',
      subdimensional_edge: 'Subdimensional Edge',
      subdimensional_edge_cost: '2 gems, 1 lens, 1 coil',
      subdimensional_edge_description:
        'You can roll to temporarily slice entire dimensions off of a target, turning a 3D object 2D, for example, or removing someone from the timestream. The target re-coheres after a minute or two. It’s not pleasant, but mostly harmless.',
    },
    gravity_blaster: [],
    hardlight_board: [],
    hyperoptic_visor: [],
    kinetic_deck: [],
    photonic_jacket: [],
    powered_armour: [],
    reality_cannon: [],
    riftninja_sneakers: [],
    robotic_companion: [],
    skipmode_runners: [],
    voidwear_backpack: [],
  };
