- const dices = Array.from(Array(10).keys(), (key) => `die${key + 1}`);

rolltemplate.sheet-rolltemplate-slugblaster
  .sheet-roll
    .sheet-roll__header
      span.sheet-roll__header--character_name {{ character }}
      +tags(['trick'])
        span.sheet-roll__header--trick(data-i18n='saying_check_it_and') Says “Check It” And
      span.sheet-roll__header--take-action(data-i18n='takes_action') Takes Action
    .sheet-roll__content
      .sheet-roll__title {{ title }}
      .sheet-roll__subtitle {{ subtitle }}
      .sheet-roll__results
        .sheet-roll__results--roll {{ roll }}
        .sheet-roll__results--dice
          each die in dices
            +tags([die])
              +displayDie(die)
        .sheet-roll__results--label
          label(data-i18n='dice_pool') Dice Pool
      .sheet-roll__result
        +rollFunction([`rollBetween() roll 6 6`])
          span(data-i18n='roll_success') Success!
          span(data-i18n='roll_success_description') You do it!

        +rollFunction([`rollBetween() roll 4 5`])
          span(data-i18n='roll_mixed_success') Mixed success.
          span(data-i18n='roll_mixed_success_description') You do it, but there’s a problem.

        +rollFunction([`rollBetween() roll 1 3`])
          span(data-i18n='roll_failure') Failure.
          span(data-i18n='roll_failure_description') You don’t do it, and there’s a problem.

      .sheet-roll__modifiers
        .sheet-roll__boosts
          label(data-i18n='boosts') Boosts
          span.sheet-roll__value {{ boosts }}
        .sheet-roll__kicks
          label(data-i18n='kicks') Kicks
          span.sheet-roll__value {{ kicks }}

        +tags(['^choose_dare'])
          .sheet-roll__dares
            label(data-i18n='dare') Dare
            +tags(['plus_1d6'])
              span(data-i18n='plus_1d6') +1d6
            +tags(['plus_kick'])
              span(data-i18n='plus_kick') 1 kick
            +tags(['clear_trouble'])
              span(data-i18n='clear_trouble') clear 1 trouble

rolltemplate.sheet-rolltemplate-slugcast
  .sheet-roll
    .sheet-roll__header
      span.sheet-roll__header--character_name {{ character }}
      span.sheet-roll__header--take-action(data-i18n='shares_with_the_class') Shares With The Class
      //- span.sheet-roll__header--take-action(data-i18n='broadcasts') Broadcasts
    .sheet-roll__content
      .sheet-roll__title {{ title }}
      .sheet-roll__subtitle {{ subtitle }}
      .sheet-roll__broadcast
        +rollFunction(["allprops() character title subtitle"])
          .sheet-roll__broadcast-item
            span.sheet-roll__broadcast--value= `{{value}}`
            label.sheet-roll__broadcast--key= `{{key}}`
