.components {
  $this: '.components';
  background-color: transparent; // hsl(random(360) 80% 80% / 80%);

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $grid-gutter;
  }

  &__component {
    &--header {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
    &--track {
      display: flex;
      gap: 0 $grid-gutter-col;
      align-items: center;
      justify-content: center;
    }
  }
  .component__checkbox {
    display: grid;
    font-size: 1rem;

    input {
      appearance: none;
      outline: none;

      width: 1.5rem;
      aspect-ratio: 1;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('https://www.svgrepo.com/show/448352/circle.svg');

      &:checked {
        background-image: url('https://www.svgrepo.com/show/448206/circle.svg');
      }
    }
  }
}
