.doom {
  $this: '.doom';
  background-color: transparent; // hsl(random(360) 80% 80% / 80%);

  &__edit,
  &__view {
    gap: $grid-gutter;
  }

  .doom__name {
    display: block;
    border-bottom: $input-border;
  }
}
