.trouble {
  $this: '.trouble';
  background-color: hsl(random(360) 80% 80% / 80%);
  flex: 1;

  .trouble__hidden {
    &[value='0'],
    &:not([value]) {
      ~ * #{$this}__checkbox--0 {
        display: none;
      }
    }
  }

  &__track {
    display: flex;
    gap: $grid-gutter;
    margin: $m-md;
  }
  &__checkbox {
    // font-family: system-ui, sans-serif;
    font-size: 1rem;
    // font-weight: bold;
    // line-height: 1.1;
    display: grid;
    // grid-template-columns: 1em auto;
    // gap: 0.5em;

    // move 0 slot to end
    &--0 {
      order: 1;
      padding-left: $grid-gutter-col;
      border-left: 2px solid $text-color;
    }
    &--4 {
      margin-right: $m-lg;
    }
  }

  &__actions {
    display: flex;
    gap: 0 $grid-gutter-col;
  }
  &__action[type='action'] {
    // &#{$this}--nope {
    // background-color: transparent;
    font-size: $font-h4;
    font-weight: 700;
    text-transform: uppercase;
    padding-inline: $p-sm;
    // }
  }
}
