.trouble {
  $this: '.trouble';
  background-color: hsl(random(360) 80% 80% / 80%);
  flex: 1;

  &__track {
    display: flex;
    gap: $grid-gutter;
    margin: $m-md;
  }
  &__checkbox {
    // font-family: system-ui, sans-serif;
    font-size: 1rem;
    // font-weight: bold;
    // line-height: 1.1;
    // display: grid;
    // grid-template-columns: 1em auto;
    // gap: 0.5em;
  }

  &__actions {
    display: flex;
    gap: 0 $grid-gutter-col;
  }
  &__action[type='action'] {
    // &#{$this}--nope {
    // background-color: transparent;
    font-size: $font-h4;
    font-weight: 700;
    text-transform: uppercase;
    padding-inline: $p-sm;
    // }
  }
}
