.turbo {
  $this: '.turbo';

  color: $white;
  background-color: $teal;

  &__clickies {
    display: flex;
    gap: 0 $grid-gutter-col;
    margin-top: $m-lg;
  }

  &__boost,
  &__kick {
    width: 3rem;
    aspect-ratio: 1;

    display: grid;
    outline: 0;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:checked {
      opacity: 0.5;
    }
    &:focus {
      outline: 0;
    }
  }
  &__boost {
    appearance: none;
    background-image: image('boost.svg');
    background-image: url('https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-six-faces-five.svg');
  }
  &__kick {
    appearance: none;
    background-image: image('kick.svg');
    background-image: url('https://game-icons.net/icons/ffffff/000000/1x1/sbed/electric.svg');
  }
}
