.repcontainer {
  $this: '.repcontainer';

  display: grid;

  &.editmode {
    + .repcontrol {
      display: block !important;
      button.repcontrol_edit::before {
        background-image: image('lock-unlocked.svg');
      }
    }
    .repeating__delete {
      display: grid;
    }
    .repeating__edit {
      display: none !important;
    }
  }

  .repitem {
    @extend %itemcontrol;
  }
}

.repitem {
  $this: '.repitem';

  margin-bottom: $grid-gutter-row;
}

.repcontrol {
  $this: '.repcontrol';

  &_add,
  &_edit,
  &_del,
  &_move {
    font-size: 0;
    &::before {
      content: '';
      display: block;
      width: 1.5rem;
      aspect-ratio: 1;

      background-repeat: no-repeat;
      background-size: contain;
    }

    &:hover {
      background-color: transparent;
      filter: invert(99%);
    }
  }

  &_add,
  &_edit {
    &::before {
      width: $input-component-size-small;
    }
  }

  &_add {
    &::before {
      background-image: image('plus-square.svg');
    }
  }
  &_edit {
    &::before {
      background-image: image('lock.svg');
    }
  }

  &_del,
  &_move {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &_del {
    right: 0.25rem;
    &::before {
      background-image: image('trash.svg');
    }
  }
  &_move {
    left: 0.25rem;
    &::before {
      background-image: image('move.svg');
    }
  }
}

%itemcontrol {
  .itemcontrol {
    $this: '.itemcontrol';
    background-color: transparent;

    &:hover {
      background-color: $pink-light;
      mix-blend-mode: multiply;
    }
  }
}
