.character {
  $this: '.character';

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $grid-gutter;

  &__style-trouble {
    grid-column: 1 / -1;

    display: flex;
    flex-wrap: wrap;
    gap: $grid-gutter;
    justify-content: space-around;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-row 0;
  }

  @import 'character/attitude';
  @import 'character/doom';
  @import 'character/gear';
  @import 'character/header';
  @import 'character/legacy';
  @import 'character/signature';
  @import 'character/slams';
  @import 'character/style';
  @import 'character/traits';
  @import 'character/trouble';
  @import 'character/turbo';
}
