.character {
  $this: '.character';

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gutter-gap;

  &__style-trouble {
    grid-column: 1 / -1;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-row 0;
  }

  @import 'character/attitude';
  @import 'character/doom';
  @import 'character/gear';
  @import 'character/legacy';
  @import 'character/signature';
  @import 'character/slams';
  @import 'character/turbo';
  @import 'character/styletrouble';
  @import 'character/traits';
}
