// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.slugblaster__sheet-mode {
  &[value='character'] {
    ~ * .character {
      display: grid;
    }
    ~ * .nav--character {
      // outline: $input-border-active;
      color: $black !important;
      background-color: $button-color !important;
      pointer-events: none;
    }
  }

  &[value='crew'] {
    ~ * .crew {
      display: grid;
    }
    ~ * .nav--crew {
      // outline: $input-border-active;
      color: $black !important;
      background-color: $button-color !important;
      pointer-events: none;
    }
  }

  &[value='options'] {
    ~ * .options {
      display: grid;
    }
    ~ * .nav--options {
      // outline: $input-border-active;
      color: $black !important;
      background-color: $button-color !important;
      pointer-events: none;
    }
  }
}

.character,
.crew,
.options {
  display: none;
}
