-
  data = {};

include data/global.data.pug
include data/crew.data.pug
include data/character.data.pug
include data/signature.data.pug

include data/character/downtime.data.pug

-
  data.translation = {};

include data/translations/personalities.translation.pug
include data/translations/gear.translation.pug
include data/translations/signatures.translation.pug
