-
  data = {};
  data.crew = {}
  data.personalities = {}

include data/global.data.pug
include data/crew.data.pug
include data/character.data.pug
include data/character/grit.data.pug

- data.translation = {};

include data/translations/gear.translation.pug
