// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  $this: '.footer';
  background-color: $white;

  padding: $p-md;

  > span {
    opacity: 0.5;
    &::before {
      content: 'v';
    }
  }
}
