- const character = data.character;

main.character
  section.character__col
    include ../pages/character/style
  section.character__col
    include ../pages/character/trouble
  section.character__col
    section.character__rolls

  section.character__col
    include ../pages/character/header

    section.character__gear
      include ../pages/character/gear

  section.character__col
    section.character__attitude
      include ../pages/character/attitude
    section.character__traits
      include ../pages/character/traits

  section.character__col
    section.character__turbo
      include ../pages/character/turbo
    section.character__signature
      include ../pages/character/signature
    section.character__mods
      include ../pages/character/mods
    section.character__components
      include ../pages/character/components

  section.character__col
    section.character__legacy
      include ../pages/character/legacy
    section.character__doom
      include ../pages/character/doom
    section.character__slams
      include ../pages/character/slams

  aside.character__downtime
    include ../pages/character/downtime
