- const crew = data.crew;

main.crew
  section.crew__main
    section.crew__col
      span Crew

  aside.crew__blades
    +blade({ name: 'diary', title: 'Diary' })
      include ../pages/common/notes
      include ../pages/common/tracks
