- const globalHeader = data.global.header;

header.header
  h2(data-i18n='slugblaster') Slugblaster
  h4
    span(name='attr_sheet_mode', data-i18n-dynamic)

  //- h1(style='font-size: 3rem; font-family: "Permanent Marker"') Permanent Marker; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Poppins"') Poppins; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Roboto"') Roboto; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Sofia Sans"') Sofia Sans; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Sofia Sans Condensed"') Sofia Sans Condensed; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Ubuntu"') Ubuntu; Sphinx of black quartz, judge my vow!
  //- h1(style='font-size: 3rem; font-family: "Lato"') Lato; Sphinx of black quartz, judge my vow!

  .header__modes
    each mode in globalHeader.actions
      +action(mode)
