.fame {
  $this: '.fame';
  background-color: hsl(random(360) 80% 80% / 80%);

  &__edit,
  &__view {
    gap: $grid-gutter;
  }

  &__edit {
    #{$this}__hype {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $grid-gutter;
      align-items: center;
    }
  }
}
