.fractures {
  $this: '.fractures';
  background-color: white; // hsl(random(360) 80% 80% / 80%);
  // color: $white;
  // background-color: $teal;
  // padding: $p-lg;

  &__boxes {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: $grid-gutter;
  }

  &__box {
  }
  &__input--text[type='text'] {
    text-align: center;
    border: 2px solid var(--input-border-color);

    &:active,
    &:hover,
    &:focus {
      border: $input-border-active;
    }
  }
}
